stages:
  - lint
  - build-and-test

.build-common:
  stage: build-and-test
  script:
    - meson setup _build
    - meson compile -C _build
    - meson test -v -C _build
    - meson install -C _build

build-fedora:
  image: fedora:latest
  extends: .build-common
  before_script:
    - dnf install -y 'dnf-command(builddep)' meson git gtk4-devel libadwaita-devel gsettings-desktop-schemas-devel python3 python3-mutagen python3-pillow python3-gobject desktop-file-utils libappstream-glib libappstream-glib-builder python3-pytest python3-pip
    - python3 -m pip install python-magic # fedora version does not work correctly?

build-alpine:
  image: alpine:edge
  extends: .build-common
  before_script:
    - apk add build-base gtk4.0-dev libadwaita-dev meson python3 py3-gobject3 py3-magic py3-mutagen py3-pillow desktop-file-utils appstream-glib gettext py3-pytest py3-flake8

lint-alpine:
  image: alpine:edge
  stage: lint
  before_script:
    - apk add build-base gtk4.0-dev libadwaita-dev meson python3 py3-gobject3 py3-magic py3-mutagen py3-pillow desktop-file-utils appstream-glib gettext py3-pytest py3-flake8
  script:
    - flake8 . --count --select=E9,F63,F7,F82,F821 --show-source --statistics
    - flake8 . --count --exit-zero --max-complexity=10 --statistics
