/* WORKAROUND: Setting the title class overrides the opacity in the placeholder,
   this fixes it */
.editing.title-1 placeholder,
.editing.title-2 placeholder,
.editing.title-3 placeholder,
.editing.title-4 placeholder,
.editing.title-5 placeholder
{
	opacity: 0.5;
}

.artist {
	font-weight: normal;
}

.album-cover {
	box-shadow: 0px 1px 6px rgba(0,0,0,0.3),
	      0px 2px 12px rgba(0,0,0,0.15),
	      0px 6px 32px rgba(0,0,0,0.1);
	border-radius: 12px;
}

.album-cover button {
	padding: 0;
	margin: 0;
	outline-offset: 3px;
}

.album-cover * {
	border-radius: 12px;
}

.drag-target {
	background-color: hsl(from var(--accent-bg-color) h calc(s * 0.7) calc(l * 0.7));
	opacity: 0.85;
}

.album-cover .drag-target {
	border: 1px solid var(--accent-bg-color);
}

.album-cover .hover-highlight {
	background-color: rgba(56, 56, 56, 0.5);
	color: #fff;
}

.sidebar {
	border-left: @border;
}

.filelist-item {
	padding: 6px 0;
}

.filelist-item .cover-image {
	background-color: rgba(24, 24, 24, 0.5);
	border-radius: 6px;
}

.filelist-item * { border-radius: 6px; }

.nofiles .icon {
  -gtk-icon-shadow: 0 1px 12px rgba(0,0,0,0.05),
      0 -1px rgba(0,0,0,0.05),
      1px 0 rgba(0,0,0,0.1),
      0 1px rgba(0,0,0,0.3),
      -1px 0 rgba(0,0,0,0.1);
}

.identify-dialog .cover-image, .identify-dialog .cover-image image {
	border-radius: 6px;
}

.identify-dialog row row .header { margin-top: 3px; margin-bottom: 3px; }
.identify-dialog row row:not(.identify-recording-row) .header:dir(ltr) { margin-left: 6px; }
.identify-dialog row row:not(.identify-recording-row) .header:dir(rtl) { margin-right: 6px; }

.unidentified-status box.vertical { margin: 0; }
.unidentified-status image { margin-bottom: 0; -gtk-icon-size: 72px; }
.unidentified-status .title { font-size: 1.5em; }

/* Required to make the OSD button outline show up */
.prev-next-button-container { padding: 6px; margin: -6px; }
.prev-next-button-container button { outline-color: rgb(from var(--accent-color) r g b / calc(alpha * 0.5)); }

/* Apply focus colors to editable labels */
.editablelabel entry {
	background-color: transparent;
}

.editablelabel:hover {
	background-color: rgb(from var(--window-fg-color) r g b / calc(alpha * 0.02));
}

.editablelabel entry {
	padding-top: 1px;
}

.editable-label-overlay .edit-icon {
	min-width: 24px;
	min-height: 24px;
	padding: 0 5px;
	opacity: 0.55;
}

.editable-label-overlay .editablelabel label {
	padding: 0 40px;
}

/* For some reason, the icon in the smaller entries is 2px off from the main one. Here's a manual fix: */
.tagentry-small {
	padding: 0 2px;
}

.cover-switch-box checkbutton { margin: 3px 5px; }

/* Tweaks for "compact" "more item" entries */
.more-item.compact .header {
	margin-top: 6px;
	margin-bottom: 6px;
}

.more-item.compact .title {
	margin-top: 0;
	margin-bottom: 0;
}

.more-item.compact .prefixes {
	margin-right: 0;
}

.more-item.compact .suffixes {
	margin-left: 0;
}
