/* WORKAROUND: Setting the title class overrides the opacity in the placeholder,
   this fixes it */
.editing.title-1 placeholder,
.editing.title-2 placeholder,
.editing.title-3 placeholder,
.editing.title-4 placeholder,
.editing.title-5 placeholder
{
	opacity: 0.5;
}

.artist {
	font-weight: normal;
}

.album-cover {
	box-shadow: 0px 1px 6px rgba(0,0,0,0.3),
	      0px 2px 12px rgba(0,0,0,0.15),
	      0px 6px 32px rgba(0,0,0,0.1);
	border-radius: 12px;
}

.album-cover button {
	padding: 0;
	margin: 0;
}

.album-cover * {
	border-radius: 12px;
}

.drag-target {
	background-color: darker(@accent_bg_color);
	opacity: 0.85;
}

.album-cover .drag-target {
	border: 1px solid @accent_bg_color;
}

.album-cover .hover-highlight {
	background-color: rgba(56, 56, 56, 0.5);
	color: #fff;
}

.sidebar {
	border-left: @border;
}

.filelist-item {
	padding: 6px 0;
}

.filelist-item .cover-image {
	background-color: rgba(24, 24, 24, 0.5);
	border-radius: 6px;
}

.filelist-item * { border-radius: 6px; }

/* Apply focus colors to editable labels */
editablelabel {
	transition: outline-color 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94),
		outline-width 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94),
		outline-offset 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94),
		background-color 100ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
	outline: 0 solid alpha(@accent_color, 0);
	outline-offset: 4px;
	border-radius: 6px;
}

editablelabel:hover {
	background-color: alpha(@window_fg_color, 0.02);
}

editablelabel:focus-within {
	outline: 2px solid alpha(@accent_color, 0.5);
	outline-offset: 0;
}
