/* WORKAROUND: Setting the title class overrides the opacity in the placeholder,
   this fixes it */
.editing.title-1 placeholder,
.editing.title-2 placeholder,
.editing.title-3 placeholder,
.editing.title-4 placeholder,
.editing.title-5 placeholder
{
	opacity: 0.5;
}

.artist {
	font-weight: normal;
}

.album-cover {
	border-radius: 6px;
	padding: 6px;
	margin: 0;
}

.album-cover stack * {
	border-radius: 6px;
}

.drag-target {
	background-color: darker(@accent_bg_color);
	opacity: 0.85;
}

.album-cover-drag-target {
	border-radius: 6px;
}
